<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>autoforward</string>
        <key>ProgramArguments</key>
        <array>
               <string>/opt/homebrew/bin/cargo</string>
               <string>run</string>
               <string>--release</string>
               <string>--bin</string>
               <string>host</string>
        </array>
        <key>EnvironmentVariables</key>
        <dict>
               <key>RUSTC</key>
               <string>/opt/homebrew/bin/rustc</string>
        </dict>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/tmp/autoforward.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/autoforward.log</string>
        <key>WorkingDirectory</key>
        <string>/Users/tsub/ghq/src/github.com/tsub/autoForward</string>
</dict>
</plist>
