[include]
  path = ~/.gitconfig.local
[core]
  editor = nvim
[color]
  ui = auto
[push]
  default = simple
[commit]
  template = ~/.git_commit_messages
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[diff]
  compactionHeuristic = true
[fetch]
  prune = true
[rebase]
  autosquash = true
