[include]
  path = ~/.gitconfig.local
[core]
  editor = nvim
[color]
  ui = auto
[push]
  default = simple
[commit]
  template = ~/.git_commit_messages
  verbose = true
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[diff]
  algorithm = histogram
[fetch]
  prune = true
[rebase]
  autosquash = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = false
